.blue-bg {
    background: #CFE9F8;
}

.purple-bg {
    background: #E8D9F9;
}

.orange-bg {
    background: #FDE0D0;
}

.red-bg {
    background: #FDDCDC;
}

.yellow-bg {
    background: #F1FEB4;
}

.green-bg {
    background: #CBFAD4;
}