.case-study-container a {
    text-decoration: none;
}

.case-study {
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    border-radius: 50px;
    background: #AFC7FB;
    height: 863px;
    overflow: hidden;
    transition: transform 0.5s ease-in-out;
    box-shadow: 0px 4px 20px 0px rgba(0, 0, 0, 0.25);
    position: relative;
}

/* .case-study::after {
    content: "";
    position: absolute;
    top: 65%;
    left: 0;
    right: 0;
    bottom: 0;
    background: linear-gradient(359deg, rgba(5, 5, 5, 0.45) 1.04%, rgba(5, 5, 5, 0.15) 49.84%, rgba(121, 135, 146, 0.00) 98.63%);
} */

.case-study:hover {
    transform: scale(1.02);
    transition: transform 0.5s ease-in-out;
    cursor: pointer;
}

.case-study.coming-soon:hover {
    background-color: #424242;
    transition: background-color 0.5s ease-in-out;
}

.case-study.coming-soon:hover img{
    opacity: 0.3;
    transition: opacity 0.5s ease-in-out;
}

.coming-soon-overlay {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #FFF;
    text-align: center;
    font-family: Inter;
    font-size: 64px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    opacity: 0;
}

.case-study.coming-soon:hover .coming-soon-overlay {
    opacity: 1;
    transition: opacity 0.5s ease-in-out;
}

.case-study h2 {
    color: #1B1B1B;
    font-family: Inter;
    font-size: 64px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
}

.case-study h3 {
    color: #1B1B1B;
    text-align: left;
    font-family: Inter;
    font-size: 48px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}
.case-study h4 {
    color: #424242;
    text-align: left;
    font-family: Inter;
    font-size: 24px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}

.case-study-header {
    display: flex;
    align-items: top;
    justify-content: space-between;
    flex-direction: row;
    padding: 30px 45px;
}

.case-study-content {
    display: flex;
    align-items: top;
    justify-content: flex-start;
    flex-direction: row;
    gap: 15px;
    padding-left: 45px;
    height: 100%;
}

.case-study-content p {
    color: #1B1B1B;
    font-family: Inter;
    font-size: 24px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    width: 35%;
    padding-top: 20px;
}

.case-study-content div {
    width: 65%;
    height: 100%;
    overflow: hidden;
}

.case-study-content img {
    width: auto;
    height: 90%;
    object-fit: cover;
}

.case-study.blue {
    background: #AFC7FB;
}
.case-study.purple {
    background: #D6C6FC;
}
.case-study.orange {
    background: #FCEAE4;
}
.case-study.pink {
    background: #FFEAF6;
}