.experience {
    border-radius: 50px;
    padding: 20px 160px;
    width: 100%;
    display: flex;
    align-items: center;
}

.experience-right {
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    text-align: left;
    width: 40%;
}

.experience-left {
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    text-align: left;
    width: 60%;
}

.experience h2 {
    color: #1B1B1B;
    font-family: Inter;
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.experience h3 {
    color: #1B1B1B;
    font-family: Inter;
    font-size: 24px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}

.experience p {
    color: #1B1B1B;
    font-family: Inter;
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.experience.orange {
    background: rgba(253, 212, 233, 0.50);
}

.experience.purple{
    background: rgba(249, 237, 255, 0.50);
}

.experience.blue {
    background: rgba(239, 239, 255, 0.50);
}

@media (max-width: 480px) {
    .experience {
        padding: 20px 20px;
        flex-direction: column;
    }

    .experience-left {
        width: 100%;
        text-align: center;
    }

    .experience-right {
        width: 100%;
        text-align: center;
    }

    .experience h2 {
        font-size: 18px;
    }

    .experience h3 {
        font-size: 18px;
    }

    .experience p {
        font-size: 18px;
    }
}
