.about {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    gap: 146px;
    max-width: 1200px;
    width: 100%;
}

.left-side {
    flex: 1;
    gap: 100px;
    display: flex;
    flex-direction: column;
    margin-bottom: 30px;
    padding-top: 20px;
}

.right-side {
    flex: 1;
    display: flex;
    gap: 80px;
    flex-direction: column;
    margin-bottom: 40px;
}


.about h2 {
    font-family: Inter;
    font-size: 80px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    background: linear-gradient(90deg, #1B1B1B 0%, #5B5959 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.about h3 {
    color: #1B1B1B;
    text-align: left;
    font-family: Inter;
    font-size: 32px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}

.about p {
    color: #424242;
    font-family: Inter;
    font-size: 24px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    margin: 13px 0;
}

.about-img {
    border-radius: 50px;
    overflow: hidden;
}

.about-img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.about-img-full {
    border-radius: 50px;
    overflow: hidden;
    max-width: 1200px;
    width: 100%;
    margin: 60px 0;
}

@media (max-width: 768px) {
    .about h2 {
        font-size: 60px;
    }

    .about h3 {
        font-size: 24px;
    }

    .about p {
        font-size: 18px;
    }

    .about {
        flex-direction: column;
        max-width: none;
        width: 90%;
        gap: 40px;
    }

    .about-img-full {
        max-width: none;
        width: 90%;
    }

    .about-experience {
        max-width: none;
        width: 90%;
    }
}

.about-experience {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-between;
    gap: 20px;
    max-width: 1200px;
    width: 100%;
    margin: 60px 0;
}
