.contact {
    position: relative;
    width: 100%;
    max-width: 1196px;
    text-align: center;
    border-radius: 50px;
    margin-top: 52px;
}

.contact::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: url('/img/gradient.png') lightgray 50% / cover no-repeat;
    opacity: 0.5;
    z-index: -1; /* Ensures the image stays behind the content */
    border-radius: 50px;
}

.contact h1 {
    color: #1B1B1B;
    text-align: center;
    font-family: Inter;
    font-size: 45px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    margin-top: 70px;
    margin-bottom: 10px;
}

.contact h2 {
    color: #1B1B1B;
    text-align: center;
    font-family: Inter;
    font-size: 45px;
    font-style: normal;
    font-weight: 400;
    margin-bottom: 10px;
    line-height: 50px;
}

.contact h3 {
    color: #1B1B1B;
    font-family: Inter;
    font-size: 17px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    margin-top: 30px;
    margin-bottom: 10px;
}

.contact-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 0 100px;
}

.contact .contact-form label {
    display: none;
}

.contact .contact-form input,
.contact .contact-form textarea {
    width: 65%;
    padding: 16px;
    margin: 10px 0;
    border: none;
    border-radius: 20px;
    background: #FFF;
    color: #424242;
    font-family: Inter;
    font-size: 14px;
    font-weight: 600;
    font-style: normal;
    line-height: normal;
    resize: none;
}

/* Responsive Styles */
@media (max-width: 768px) {
    .contact h1 {
        font-size: 22px;
    }

    .contact h2 {
        font-size: 18px;
    }

    .contact .contact-form {
        padding: 0 20px;
    }

    .contact-form label {
        font-size: 16px;
    }

    .contact-form input, 
    .contact-form textarea {
        font-size: 14px;
    }

    .contact {
        max-width: none;
        width: 90%;
    }

    .contact .contact-form input,
    .contact .contact-form textarea {
        width: 90%;
    }
}

@media (max-width: 480px) {
    .contact h1 {
        font-size: 18px;
    }

    .contact h2 {
        font-size: 16px;
        line-height: 20px;
    }
}
